body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: beige;
}


#cabecalho{
    height: 175px;
    background-color: rgb(255, 218, 202);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family:'Times New Roman';
    font-size:30px;
}


#menu{
    height: 960px;
    width:  290px;
    background-color: rgb(255, 218, 202);
    float: left;
    margin-top: 5px;;

}

#conteudo{
    height: 960px;
    width: 1160px;
    background-color: rgb(255, 218, 202);
    float: left;
    margin-top: 5px;
    margin-left:5px;
    font-size:12x;
    
}

#rodape{
   height: 100px;
   background-color: rgb(255, 218, 202);
   clear: both;
   width: 100%;
   text-align:center;
}
h1 {
    color: rgb(81, 6, 85);
    text-align:center;
}
h2{
    text-align: center;
}
h3{
    text-align: left;
}
h4{
    text-align: left;
}
button{
    background-color: rgba(250, 9, 162, 0.086);
    border: 5px;
    border-radius: 50px;
    height: 80px;
    width: 150px;
    border-style:initial;
    font-size: 25px;
}
